body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
    font-size: 150px;
    text-shadow: 10px 10px 0 rgba(0,0,0,1);
}